In [1]:
fruits=["mango", "apple","banana"]
print(fruits)

['mango', 'apple', 'banana']

In [2]:
print(fruits)

['mango', 'apple', 'banana']

In [3]:
my_tuple=("yamaha",99,'hello')
print(my_tuple)

('yamaha', 99, 'hello')

In [4]:
print(fruits)

['mango', 'apple', 'banana']

In [5]:
fruits

['mango', 'apple', 'banana']

In [6]:
my_dict={"name":"mercedes","color":"black", "model":"latest", "year":2025}

In [7]:
my_dict

{'name': 'mercedes', 'color': 'black', 'model': 'latest', 'year': 2025}

In [8]:
print(my_dict["color"])

black

In [9]:
for keys in my_dict.keys():
    print(keys)

name
color
model
year

In [10]:
for value in my_dict.values():
    print(value)

mercedes
black
latest
2025

In [11]:
my_set={1,2,3}

In [12]:
def func():
    i=0
    for i in range(51):
        if i%2==0:
            print(i)
func()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [13]:
var=["a","e","p"]
var
def func():
    for i in range(len(var)):  
        if var[i].lower() not in ('a','e','i','o','u'):
            print(var[i])      
func()

p

In [14]:
class Dog:
    att1='mamaal'
    def __init__(self, name):
        self.name=name
        
    def speak(self):
        print("my name is {}".format(self.name))

In [15]:
class student1:
    
    def __init__(self , name , roll_no):
        self.name = name
        self.roll_no = roll_no

        
class student2(student1):
    
    def __init__(self , name , roll_no, age , expected_salary):
        super().__init__(name , roll_no)
        self.age = age
        self.expected_salary = expected_salary

    def details(self):
        print("Name : ", self.name)
        print("Roll Number: ", self.roll_no)
        print("Age : ", self.age)
        print("Expected Salary: ", self.expected_salary)

vari = student2( "Shreyash Deshmukh" , 19 , 21 , 100000000)
vari.details()

Name :  Shreyash Deshmukh
Roll Number:  19
Age :  21
Expected Salary:  100000000

In [16]:
bruno=Dog("bruno")
bruno.speak()

my name is bruno

In [17]:
num = int(input("Enter the number: "))

for i in range(1,11):
    print(f"{num} * {i} = {num * i}")

Enter the number:  4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40